<form class="create-post">
  <div class="form-group">
    <label for="title">Enter Your Post Below</label>
    <input id="title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="postContent" rows="3" placeholder="Enter Your Post Here"></textarea>
  </div>
  <div class="form-group">
  <button id="submitPost" type="submit" class="btn btn-primary mb-2">Submit Post</button>
  </div>
</form>

<script src="/js/createpost.js"></script>
