<div class="login-container">
    <div class="login-form login">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="sign-up">
        <form class="login-form sign-up">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
            </div>

            <div class="mb-3">
                <label for="email-signup" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email-signup" aria-describedby="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                    <label for="password-signup" class="form-label">Password</label>
                    <input type="password" id="password-signup" class="form-control" aria-describedby="passwordHelpBlock">
                    <div id="passwordHelpBlock" class="form-text">
                    Your password must be at least 8 characters long.
                    </div>      
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>
