<div class="indivPost">
    <h2>{{post.title}}</h2>
    <h4>{{post.user.name}}</h4>
    {{!-- <p>{{post.created_at}}</p> --}}
    <p>{{post.content}}</p>

    <div class="create-btn-div">
    <button type="button" id="create" class="btn btn-primary btn-lg">Add Comment</button>
    </div>
    
    <div class="container">
        {{#each post.comments as |comment|}}
        {{> comments}}
        {{/each}}
    </div>
</div>